<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="loginForm">
      <app-text-header [title]="'Welcome to trivia!'" [subtitle]="'Fill out the form to start playing'">
      </app-text-header>
      <app-input-text [label]="'First Name'" [formCtrlName]="'firstName'" [type]="'text'" [parentGroup]="loginForm">
      </app-input-text>
      <app-input-text [label]="'Last Name'" [formCtrlName]="'lastName'" [type]="'text'" [parentGroup]="loginForm">
      </app-input-text>
      <app-input-text [label]="'Age'" [formCtrlName]="'age'" [type]="'number'" [parentGroup]="loginForm">
      </app-input-text>
      <app-input-text [label]="'Email'" [formCtrlName]="'email'" [type]="'email'" [parentGroup]="loginForm">
      </app-input-text>
      <app-generic-button [label]="'CONTINUE'" (clickEvent)="start()">
      </app-generic-button>
    </form>
  </div>
</ion-content>